<div class="toolbar" role="banner">
  <!-- here will be menu -->
  <!-- add link with id -->
  <!-- make manu angular material -->
  <nav class="to-do__nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/to-do-list">To Do List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer>
  <div class="content">
    To Do List Footer
  </div>
</footer>